@use '../utils' as u;

.lac-btn {
    display: block;
    width: 100%;
    padding: u.rem(10);
    outline: none;
    border-radius: u.rem(6);
    text-transform: uppercase;
    background: none;
    text-decoration: none;
    height: u.rem(55);
    display: flex;
    align-items: center;
    justify-content: center;
    

    font-family: "Gilroy-Bold";
    letter-spacing: u.rem(1.6);
    font-size: u.rem(16);

    @include u.breakpoint-min(medium) {
        height: u.rem(70);
        letter-spacing: u.rem(1.8);
    }
}
.primary-lac-btn {
    color: u.$black-plain;
    background-color: u.$primary-color;
    border: 1px solid u.$primary-color;
    

    &:hover {
        color: u.$black-plain;
        //border: 1px solid u.$primary-color;
        //background-color: transparent;
        transition: all 500ms;
    }
}
.secondary-lac-btn {
    color: u.$white-plain;
    border: 1px solid u.$primary-color;

    &:hover {
        color: u.$primary-color;
        //background-color: u.$primary-color;
        border: 1px solid u.$primary-color;
        transition: all 500ms;
    }
}