@use '../utils' as u;

.overflow-hidder {
    overflow: hidden;
}

.sec-title {
    font-size: u.rem(26);
    margin-bottom: u.rem(90);
    letter-spacing: u.rem(2.6);
    text-align: center;
    font-family: "Gilroy-Black";

    @include u.breakpoint-min(medium) {
        font-size: u.rem(32);
        letter-spacing: u.rem(3.2);
    }
}
.sec-desc {
    width: min(100%, u.rem(650));
    margin-inline: auto;
    margin-bottom: u.rem(80);
    letter-spacing: u.rem(1.4);
    font-size: u.rem(14);
    text-align: center;
    font-family: "Gilroy-Regular";
    line-height: u.rem(30);

    @include u.breakpoint-min(medium) {
        letter-spacing: u.rem(1.8);
        font-size: u.rem(18);
    }

    span {
        color: u.$primary-color;
        font-family: "Gilroy-Bold";
    }
}

.gilroy-light {
    font-family: "Gilroy-Light";
}
.gilroy-regular {
    font-family: "Gilroy-Regular";
}
.gilroy-bold {
    font-family: "Gilroy-Bold";
}
.gilroy-black {
    font-family: "Gilroy-black";
}