@use '../utils' as u;

header.lac-home-header {
    min-height: 100vh;
    background-image: url(../images/background/heroBG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: u.rem(20);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    section {

        text-align: center;
        color: var(--text-color);
        width: min(100%, u.rem(750));
        margin-inline: auto;

        margin-top: 100px;
        margin-bottom: 100px;
        z-index: 1;

        @include u.breakpoint-min(medium) {
            margin-top: 170px;
            margin-bottom: 300px;
        }

        article {

            img {
                width: 100%;
            }

            h1 {
                font-size: u.rem(26);
                font-family: 'Gilroy-Black';
                letter-spacing: u.rem(2.6);
                font-weight: bold;
                
                @include u.breakpoint-min(medium) {
                    font-size: u.rem(32);
                    letter-spacing: u.rem(3.2);
                }
            }

            p {
                margin-top: u.rem(32);
                font-family: "Gilroy-Regular";
                line-height: u.rem(30);
                letter-spacing: u.rem(1.6);
                font-size: u.rem(16);


                @include u.breakpoint-min(medium) {
                    letter-spacing: u.rem(1.8);
                    font-size: u.rem(18);
                }
                
                span {
                    font-family: "Gilroy-Bold";
                    color: u.$primary-color;
                }
            }

            .button-cont {
                margin-top: u.rem(107);
                width: min(100%, u.rem(426));
                margin-inline: auto;
                position: relative;

                picture {
                    
                    display: none;

                    @include u.breakpoint-min(medium) {
                        position: absolute;
                        right: u.rem(-117);
                        top: u.rem(-50);
                        width: u.rem(63);
                        display: block;
                    }

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }

                a {
                    &:not(:last-child) {
                        margin-bottom: u.rem(15);
                    }
                }

            }

        }
    }
    

    .hero-ape-bg {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../images/hero/lac-group.png);
        display: none;
        z-index: 0;
        
        @include u.breakpoint-min(large) {
            display: block;
        }
        @include u.breakpoint-min(xlarge) {
            height: 60vh;
        }

        @media (min-width: 2300px) {
            height: 60vh;
        }
    }
}