@use '../utils' as u;

.navApe {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: u.rem(15) u.rem(20);
    align-items: center;
    margin-inline: auto;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    height: u.rem(100);
    top: 0;
    z-index: 2;

    &__logo {

        @include u.breakpoint-min(large) {
            position: absolute;
            top: u.rem(30);
            left: u.rem(20);
            width: min(100%, u.rem(1140));
            left: 50%;
            right: 50%;
            transform: translate(-50%, 0%);
            padding: 0 20px;
        }

        img {
            width: u.rem(52);
            object-fit: cover;
        }
    }

    &__menu {

        &__burger {
            float: right;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 24px;
            cursor: pointer;
            
            span {
                display: flex;
                border: 1px solid white;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

        }

        @include u.breakpoint-min(large) {
            display: none;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        padding: u.rem(20);
        display: none;

        &.open {
            top: 0; right: 0; left: 0; bottom: 0;
            height: 100vh;
            background: rgba(0, 0, 0, 0.19);
            backdrop-filter: blur(u.rem(16));
            z-index: 9999999999999;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            
            li {
                width: 100%;

                a {
                    color: white;
                }

                &:not(:last-child) {
                    margin-bottom: u.rem(40);
                }
            }
        }

        @include u.breakpoint-min(large) {
            margin-top: 0;
            background-color: unset;
            display: flex !important;
            align-items: center;
            justify-content: center;
            height: u.rem(100);
        }

        li {
            text-align: center;

            @include u.breakpoint-min(medium) {
                margin: 0 u.rem(35);
            }

            a {
                text-decoration: none;
                text-transform: capitalize;
                color: white;
                font-size: u.rem(14);
                font-family: "Gilroy-Regular";
                letter-spacing: u.rem(1.4);
            }

        }
    }
}