@use '../utils' as u;

section.LAC-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: u.rem(140) u.rem(20);

    @include u.breakpoint-max(medium) {
        padding: u.rem(100) u.rem(20);
    }

    main {
        width: min(100%, 1366px);
        margin-inline: (auto);
        display: grid;
        grid-template-columns: 1fr;

        @include u.breakpoint-min(large) {
            grid-column-gap: 60px;
            grid-template-columns: 230px 1fr;
        }

        aside.main-filter {

            section {

                .filter-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        color: #FFD45E;
                        font-family: 'Gilroy-Bold';
                        letter-spacing: 1.8px;
                    }

                    span {
                        color: #878787;
                        font-size: 14px;
                        font-family: 'Gilroy-Regular';
                        letter-spacing: 1.4px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        img {
                            width: 16px;
                            height: 16px;
                            object-fit: cover;
                        }
                    }
                }

                input[type=search] {
                    margin-top: 30px;
                    width: 100%;
                    font-size: 12px;
                    font-family: "Gilroy-Regular";
                    letter-spacing: 1.2px;
                    background: none;
                    outline: none;
                    padding: 10px 20px;
                    border-radius: 6px;
                    color: #878787;
                    border: 1px solid #878787;
                }
                
                .special-checkbox {

                    margin-top: 25px;
                    font-size: 16px;
                    letter-spacing: 1.6px;
                    color: #fff;
                    font-family: "Gilroy-Regular";
                    width: 100%;

                    .switch {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        cursor: pointer;
                        
                        input {
                            display:none;

                            &:checked + .slider:before {
                                transform: translateX(8px);
                                background-color: #ffd45e;
                            }
                        }

                        .slider {
                            transition: .4s;
                            border: 1px solid #707070;
                            width: 30px;
                            height: 16px;
                            position: relative;

                            &:before {
                                background-color: #fff;
                                bottom: 1px;
                                content: "";
                                height: 12px;
                                left: 4px;
                                position: absolute;
                                transition: .4s;
                                width: 12px;
                            }

                            &.round {
                                border-radius: 34px;

                                &:before {
                                    border-radius: 50%;
                                  }
                            }
                        }
                      }
                }

                .lac-filter-accordian {
                    margin-top: 10px;

                    .adj-col {
                        button.accordion {
                            width: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                            text-align: left;
                            padding: 7.5px 0px;
                            font-size: 16px;
                            letter-spacing: 1.6px;
                            color: white;
                            font-family: "Gilroy-Regular";
                            cursor: pointer;
                            transition: background-color 0.2s linear;
                            position: relative;

                            &::after {
                                content: " ";
                                height: 16px;
                                width: 16px;
                                right: 0;
                                position: absolute;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-image: url(../images/icons/white-arrow-down.svg);
                            }

                            &.is-open {
                                &::after {
                                    background-image: url(../images/icons/white-arrow-up.svg);
                                }
                            }

                            &:hover,
                            &.is-open {
                                //font-family: "Gilroy-Bold";
                                border-bottom: 1px solid #878787;
                            }
                        }

                        .accordion-content {

                            padding: 0;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.2s ease-in-out;

                            .lacFilter {

                                margin: 0 15px 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                &:first-child {
                                    padding-top: 15px;
                                }

                                &:last-child {
                                    padding-bottom: 15px;
                                }

                                label {
                                    color: #B2B2B2;
                                    font-size: 14px;
                                    font-family: "Gilroy-Regular";
                                    letter-spacing: 1.4px;
                                    cursor: pointer;
                                    line-height: 25px;
                                }
                            }

                            
                        }
                    }

                }



                button.filter-button {
                    margin-top: 10px;
                    width: 100%;
                    background: #FFD45E;
                    outline: none;
                    border: #FFD45E 1px solid;
                    font-size: 16px;
                    letter-spacing: 1.6px;
                    font-family: 'Gilroy-Regular';
                    padding: 10px 20px;
                    margin-top: 40px;
                    border-radius: 6px;
                }
                
            }
        }

        @include u.breakpoint-max(medium) {
            aside.main-filter.mobile {
                /* display: flex; */
                position: absolute;
                background: #000000b0;
                backdrop-filter: blur(12px);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 3;
                display: none;
                align-items: center;
                justify-content: center;
                padding: 20px;

                section {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    max-height: 90%;
                    overflow: auto;

                    width: 90%;

                    .filter-title {

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        p {
                            color: #FFD45E;
                            font-family: 'Gilroy-Bold';
                            letter-spacing: 1.8px;
                        }

                        span {
                            color: #878787;
                            font-size: 14px;
                            font-family: 'Gilroy-Regular';
                            letter-spacing: 1.4px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            img {
                                width: 16px;
                                height: 16px;
                                object-fit: cover;
                            }
                        }
                    }

                    .lac-filter-accordian {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 1fr;
                        grid-column-gap: 20px;
                        grid-row-gap: 0px;
                        width: 100%;
                    }

                    .close-menu {
                        display: block !important;
                        position: absolute;
                        top: 1.25rem;
                        right: 1.25rem;
                        height: 2rem;
                        width: 2rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        cursor: pointer;
                    }
                }
            }
        }

        section.inner-gallery {

            @include u.breakpoint-min(large) {
                min-height: 100vh;
            }

            .sencodary-filter {
                .Gallery-title {
                    font-family: "Gilroy-Black";
                    font-size: u.rem(32);
                    letter-spacing: u.rem(3.2);
                    line-height: u.rem(40);

                    span {
                        color: #ACACAC;
                        font-family: "Gilroy-Regular";
                        font-size: u.rem(14);
                        letter-spacing: u.rem(1.4);
                        line-height: u.rem(30);
                    }
                }

                .filter-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    flex-wrap: wrap;
                    margin-top: 30px;

                    input[type=search] {
                        outline: none;
                        border: 1px solid #ACACAC;
                        background: none;
                        color: #ACACAC;
                        font-size: u.rem(14);
                        font-family: "Gilroy-Regular";
                        letter-spacing: u.rem(1.4);
                        border-radius: u.rem(6);
                        padding: u.rem(15) u.rem(20);
                        width: 100%;

                        @include u.breakpoint-min(large) {
                            width: 50%;
                        }
                    }

                    span {
                        color: #ACACAC;
                        font-size: u.rem(14);
                        font-family: "Gilroy-Regular";
                        letter-spacing: u.rem(1.4);
                        display: block;
                        width: 100%;
                        text-align: center;
                        margin-top: 20px;

                        @include u.breakpoint-max(medium) {
                            display: flex;
                            justify-content: space-between;
                        }

                        @include u.breakpoint-min(large) {
                            width: unset;
                            margin-top: 0px;
                        }

                        div {
                            cursor: pointer;
                            text-align: right;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            align-content: center;

                            picture {
                                height: 24px;
                                width: 24px;
                                margin-left: 10px;

                                img {
                                    object-fit: cover;
                                }
                            }

                            &.filter-mobile {
                                display: none;

                                @include u.breakpoint-max(medium) {
                                    display: flex;
                                }
                            }

                            ul {
                                position: absolute;

                                text-align: left;
                                background: #303030;
                                right: 0px;
                                width: 100%;
                                border-radius: u.rem(6);
                                overflow: hidden;
                                display: none;
                                padding: 20px 0;

                                top: 100px;

                                li {
                                    cursor: pointer;
                                    padding: 12px 24px;
                                    top: center;
                                    font-size: u.rem(12);
                                    font-family: "Gilroy-Regular";
                                    letter-spacing: u.rem(1.2);
                                    transition: ease all 300ms;

                                    &:hover {
                                        background: #ACACAC;
                                        color: #303030;
                                    }

                                }

                                @include u.breakpoint-min(large) {
                                    right: -85px;
                                    top: 40px;
                                    max-width: 231px;
                                }

                            }

                            &:hover {
                                ul {
                                    display: block;
                                }
                            }
                        }


                    }
                }
            }

            .gallery-cont {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                margin-top: 40px;
                position: relative;

                @include u.breakpoint-min(medium) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @include u.breakpoint-min(large) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include u.breakpoint-min(xlarge) {
                    grid-template-columns: repeat(4, 1fr);
                }

                li {
                    border-radius: 6px;
                    padding: 16px 16px 25px;
                    border: #ACACAC 1px solid;
                    cursor: pointer;
                    transition: transform .2s;
                    text-align: center;

                    @include u.breakpoint-min(medium) {
                        &:hover {
                            //transform: scale(1.05);
                            border: #FFD45E 1px solid;
                        }
                    }

                    a {
                        display: block;

                        img {
                            border-radius: 12px;
                            object-fit: contain;
                            margin-bottom: 15px;
                            width: 145px;
                            height: 145px;

                            @include u.breakpoint-min(medium) {
                                width: 140px;
                                height: 140px;
                            }

                            @media (min-width: 1200px) {
                                width: 200px;
                                height: 200px;
                            }

                            @include u.breakpoint-min(xlarge) {
                                border-radius: 12px;
                                width: 223px;
                                height: 223px;
                            }
                        }
                    }

                    p {
                        font-family: "Gilroy-Bold";
                        font-size: u.rem(12);
                        letter-spacing: u.rem(1.2);
                        line-height: u.rem(30);
                        text-align: center;

                        @include u.breakpoint-min(xlarge) {
                            text-align: left;
                            font-size: u.rem(16);
                            letter-spacing: u.rem(1.6);
                        }
                    }
                }

                &.loader {

                    &::after {
                        content: "";
                        height: 50px;
                        width: 50px;
                        background-image: url(../images/icons/loader-white.svg);
                        left: 50%;
                        transform: translate(-50%, 0);
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        background-size: contain;
                        bottom: -100px;
                    }
                }
            }
        }
    }
}