@use '../utils' as u;

.container-main-index {

    video, img {
        width: 100%;
    }

    max-width: u.rem(1200);
    margin: 0 auto;
    overflow: hidden;

    position: relative;
    overflow: hidden;

    padding: 0 u.rem(170);

    box-sizing: border-box;

    .main {
        position: relative;
        max-width: u.rem(1200);
        margin: 0 auto;
        border-bottom: 1px solid #fff;

        .main_bg {
            max-width: u.rem(1200);
            height: u.rem(930);
            margin: 0 auto;
            background: url(../images/index/background.jpg) no-repeat top center;
            background-size: contain;
            opacity: 0.4;
        }

        .title_neon {
            position: absolute;
            top: u.rem(40);
            left: 51%;
            transform: translate(-50%, 0);
            max-width: u.rem(1200);
            transition: .3s ease-in-out;
            opacity: 1;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: u.rem(180);
                transition: .3s ease-in-out;
                opacity: 1;

                &:nth-child(1) {
                    opacity: 1;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
            }
            &.on {
                img {
                    &:nth-child(1) {
                        opacity: 0;
                    }
    
                    &:nth-child(2) {
                        opacity: 1;
                    }
                }
            }
        }

        .mobile_title_neon {
            display: none;
            position: absolute;
            top: u.rem(40);
            left: 51%;
            transform: translate(-50%, 0);
            max-width: u.rem(1200);
            transition: .3s ease-in-out;
            opacity: 1;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: u.rem(180);
                transition: .3s ease-in-out;
                opacity: 1;
            }
        }

        .neon {
            position: absolute;
            top: u.rem(160);
            left: 50%;
            transform: translate(-50%, 0);
            max-width: u.rem(1200);
            transition: .3s ease-in-out;
            opacity: 1;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: u.rem(870);
                transition: .3s ease-in-out;
                opacity: 1;

                &:nth-child(1) {
                    opacity: 1;
                }

                &:nth-child(2) {
                    opacity: 0;
                }
            }

            &.on {
                img {
                    &:nth-child(1) {
                        opacity: 0;
                    }
    
                    &:nth-child(2) {
                        opacity: 1;
                    }
                }
            }
        }

        .mobile_neon {
            display: none;
            position: absolute;
            top: 160px;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: u.rem(1200);
            transition: .3s ease-in-out;
            opacity: 1;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: u.rem(870);
                transition: .3s ease-in-out;
                opacity: 1;
            }
        }

        .door {
            position: absolute;
            top: u.rem(225);
            left: 51%;
            transform: translate(-50%, 0);
            width: u.rem(500);
            opacity: 1;
            transition: .3s ease-in-out;

            a {
                display: block;
            }

            &.on {
                top: u.rem(228);
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .smoke {
            position: absolute;
            bottom: 0;
        }

        .bottom_img {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            bottom: 0;
            width: u.rem(1000);

            .monkey {
                position: absolute;
                bottom: u.rem(-4);
                left: u.rem(158);
                z-index: 1;

                img {
                    width: u.rem(300);
                }
            }
            .desc {
                position: absolute;
                bottom: u.rem(55);
                left: u.rem(500);
                color: #fff;
                z-index: 2;

                p {
                    font-family: 'Jandamana-soild';
                    line-height: u.rem(60);
                    font-size: u.rem(42);
                }
            }
        }
    }
}

@media (max-width: u.rem(1200)) {
    .container-main-index {
        max-width: u.rem(960);
        padding: 0;

        .main {
            .bottom_img {
                .desc {
                    left: u.rem(415);
                }
            }
        }   
    }
}

@media (max-width: u.rem(990)) {
    .container-main-index {
        max-width: u.rem(720);

        .main {
            .main_bg {
                height: u.rem(706);
            }

            .title_neon {
                display: none;
            }

            .mobile_title_neon {
                display: block;
                top: u.rem(45);

                img {
                    width: u.rem(145);
                }
            }

            .neon {
                display: none;
            }

            .mobile_neon {
                display: block;
                width: u.rem(600);

                img {
                    width: u.rem(600);
                }
            }

            .door {
                top: u.rem(289);
                width: u.rem(300);

                &.on {
                    top: u.rem(291);
                }
            }

            .smoke {
                bottom: 0;
            }

            .bottom_img {
                width: u.rem(660);

                .monkey {
                    left: u.rem(145);

                    img {
                        width: u.rem(200);
                    }
                }
                .desc {
                    bottom: u.rem(20);
                    left: u.rem(300);

                    p {
                        font-size: u.rem(30);
                        line-height: u.rem(35);
                    }
                }
            }
        }
    }
}

@media (max-width: u.rem(720)) {
    .container-main-index {
        max-width: u.rem(659);
        padding: 0;

        .main {
            .main_bg {
                margin-bottom: u.rem(100);
            }
            .title_neon {
                display: none;
            }

            .door {
                display: none;
            }

            .door.on {
                display: block;
                top: u.rem(239);
                width: u.rem(420);
                opacity: 1;
            }

            .smoke {
                bottom: u.rem(20);
            }

            .bottom_img {
                width: u.rem(540);

                .monkey {
                    left: u.rem(10);

                    img {
                        width: u.rem(222);
                    }
                }

                .desc {
                    bottom: u.rem(20);
                    left: u.rem(225);

                    p {
                        font-size: u.rem(26);
                        line-height: u,rem(25);
                    }
                }
            }
        }
    }
}

@media (max-width: u.rem(660)) {
    .container-main-index {
        max-width: u.rem(659);
        padding: 0;

        .main {
            .main_bg {
                background-size: cover;
            }

            .bottom_img {
                width: 100%;

                .monkey {
                    left: u.rem(10);
                }
            }
        }
    }
}

@media (max-width: u.rem(430)) {
    .container-main-index {
        .main {
            .main_bg {
                height: u.rem(549);
            }
    
            .mobile_title_neon {
                top: u.rem(135);
    
                img {
                    width: u.rem(120);
                    top: u.rem(-70);
                }
            }
    
            .mobile_neon {
                top: u.rem(185);
    
                img {
                    width: u.rem(420);
                }
            }
    
            .door.on {
                width: u.rem(280);
            }
    
            .smoke {
                bottom: u.rem(35);
            }
    
            .bottom_img {
                width: u.rem(415);
    
                .monkey {
                    img {
                        width: u.rem(175);
                    }
                }
                .desc {
                    left: u.rem(160);
                    p {
                        font-size: u.rem(16);
                    }
                }
            }
        }
    }
}